.logo {
    padding-top: 0.1em;
    height: 3.5em;
}

.navi {
    // height: 3.5em;
    position: fixed;
    z-index: 1000;
    margin: 0;
    top: 0;
    right:0;
    left: 0;
    top:0;
}

 :active{outline:none;}
 :-moz-focus-inner{outline:none;}
