.logo {
    padding-top: 0.1em;
    height: 3.5em;
}

.navi {
    // height: 3.5em;
    position: fixed;
    z-index: 1000;
    margin: 0;
    top: 0;
    right:0;
    left: 0;
    top:0;
}

 :active{outline:none;}
 :-moz-focus-inner{outline:none;}

 .qrcode {
    width: auto;
    background: rgba(255, 255, 255, 0.5);
    margin-top: -9em;
    height: 9em;
    padding-top: 0.5em;
 }


 .ticket-line {
     height: 100%;
 }

.ticket-main {
    padding: 0.1em;
}

ticket-content {
    margin-left: 0.1em;
    padding-left: 0.1em;
}


