.nav-pad {
    padding-top: 4em;
}
.mobile {
    font-size: 1.5em;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
}

* {
    outline: none;
 }
 :focus,input::-moz-focus-inner, button::-moz-focus-inner{
     outline: 0;
 }
.void {
    width: 100px;
    height: 100px;
}
