.nav-pad {
    padding-top: 4em;
}
.mobile {
    font-size: 1.5em;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
}

* {
    outline: none;
 }
 :focus,input::-moz-focus-inner, button::-moz-focus-inner{
     outline: 0;
 }
.void_svg {
    height: 7.5em;
    width: 7.5em;
}
.timer{
    padding: 10px;
    color: aquamarine;
}

.article {
    /* width: c; */
    /* height: 100%; */
    background: url('../images/back.jpg') no-repeat;    
    background-size: cover;
}